<!--Titulo de pagina-->
<h1>Algo Salio Mal</h1>
<br><br><br><br><br><br><br><br><br><br>
<!--Cuerpo de la pagina-->
<center><hi>La velocidad de descarga de Internet es muy baja. Porfavor intente más tarde o contacte a su distribuidor de internet.</hi></center>


